.container {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.socHold {
    display: flex;
    gap: 1vw;
}

.footText {
    color: $primary;
    font-weight: lighter;
}
.container > hr {
    height: 1px;
    width: 100%;
    border: none;
    background-color: $primary;
    margin-bottom: 5px;
}

.socCont {
    width: 100%;
    background-color: $bg-primary;
    font-size: 1vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.socialI {
    color: $text-primary;
    height: 2vw;
    width: 2vw;
}

.socialI > * {
    height: 100%;
    width: 100%;
}

.socialI:hover {
    color: $primary;
}
