.container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7vh;
}

.socHold {
    margin-top: 3vh;
    display: flex;
    gap: 1vh;
}

.footText {
    color: $primary;
    font-weight: lighter;
    font-size: 2vh;
}
.container > hr {
    height: 1px;
    width: 100%;
    border: none;
    background-color: $primary;
    margin-bottom: 5px;
}

.socCont {
    width: 100%;
    background-color: $bg-primary;
    font-size: 1vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.socialI {
    color: $text-primary;
    height: 3vh;
    width: 3vh;
}

.socialI > * {
    height: 100%;
    width: 100%;
}

.socialI:hover {
    color: $primary;
}

@media only screen and (min-width: 768px) {
    .socHold {
        gap: 1vw;
    }

    .socCont {
        font-size: 1.5vw;
        margin-top: 1vh;
    }

    .socialI {
        height: 2vw;
        width: 2vw;
    }
}
