.container {
    // sizing
    width: 100%;
    background-color: $bg-primary;
    height: 5vh;
    // dispaly
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    align-items: center;
    padding: 0 2vw;
    // position
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 1;
    // margin
    margin: 0;
}

.container {
    a:not(:last-child):not(.logo) {
        display: none;
    }

    a:last-child {
        border: solid 0.1vw $primary;
        padding: 0.5vh;
        border-radius: 0.5vh;
        color: $primary;
    }

    a:last-child:hover {
        background-color: $bg-secondary;
    }

    .logo {
        color: $primary;
    }

    .logoCont {
        border: solid 0.1vw $primary;
        border-radius: 0.5vh;
        padding: 0.5vh;
    }
}

.navitem {
    // font
    font-size: 1.5vh;
    // bg coloring
    background-color: inherit;
    border: none;
    // margin
    margin: 1vh 0;
    // coloring
    color: $text-secondary;
    // cursor
    cursor: pointer;
}

.navitem:hover {
    color: $primary;
}

.logoCont:hover {
    background-color: $bg-secondary;
}

.logoText {
    font-family: "Orbitron", sans-serif;
}

@media only screen and (min-width: 768px) {
    .container {
        justify-content: flex-end;
        height: 7vh;
    }

    .container {
        a:not(:last-child):not(.logo) {
            display: inline-block;
        }

        a:nth-child(2) {
            margin-left: auto;
        }

        a:last-child {
            border-radius: 0.5vw;
            padding: 0.5vh;
        }

        .logoCont {
            border-radius: 0.5vw;
            padding: 0.5vh;
        }
    }

    .navitem {
        // font
        font-size: 1vw;
    }
}
