.container {
    display: grid;
    grid-template:
        "brk brk" auto
        "txt photo" auto / 6fr 4fr;
    height: 250px;
    box-sizing: border-box;
}

.brk {
    grid-area: brk;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.brk > hr {
    height: 1px;
    width: 85%;
    border: none;
    background-color: $primary;
}

.brk > h4 {
    width: 15%;
}

.contentText {
    display: inline-block;
    grid-area: txt;
}

.pContainer {
    box-sizing: border-box;
    grid-area: photo;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 2.5% 25% 7.5% 5%;
}

.headshot {
    height: 20% !important;
    width: 10% !important;
}
