.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vh;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.contentText {
    display: inline-block;
    width: 90%;
    grid-area: txt;
    font-size: 1.5vh;
}

.headshot {
    height: 40% !important;
    width: 10% !important;
}

@media only screen and (min-width: 768px) {
    .container {
        gap: 0px;
    }

    .contentText {
        padding: 0 1vw 0;
        width: 75%;
    }

    .container {
        gap: 2vw;
    }

    .contentText {
        font-size: 1.5vw;
    }
}
