.container {
    display: flex;
    width: 100%;
    gap: 1vh;
    height: 30vh;
    justify-content: space-between;
}

.formCont {
    width: 100%;
    height: 100%;
    gap: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.formI {
    width: 40%;
}

.pWrapper {
    display: none;
}

.formRow {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

@mixin formInput {
    border: solid 1px $primary;
    font-size: 1.5vh;
    border-radius: 0.5rem;

    height: 4vh;
    background-color: $bg-secondary;
    padding-left: 0.5vh;
    color: $text-primary;
    &::-webkit-input-placeholder {
        color: $text-secondary;
    }
    &:-moz-placeholder {
        color: $text-secondary;
    }
    &::-moz-placeholder {
        color: $text-secondary;
    }
    &:-ms-input-placeholder {
        color: $text-secondary;
    }
}

.halfInput {
    @include formInput;
    width: 50%;
}

.maxInput {
    @include formInput;
    width: 100%;
}

.message {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 10vh;
    padding: 0.5vh;
}

.submit {
    cursor: pointer;
    background-color: $primary;
    color: $text-primary;
}

.submit:hover {
    background-color: $primary-dark;
    border-color: $primary-dark;
}

@media only screen and (min-width: 768px) {
    .pWrapper {
        height: 15vw;
        width: 15vw !important;

        display: inline-block;
        position: relative;
    }

    .formCont {
        width: 50%;
    }

    // fix the vh to vw
    .container {
        gap: 1vw;
    }

    @mixin formInput {
        font-size: 1.5vw;

        padding-left: 0.5vw;
    }

    .message {
        padding: 0.5vw;
    }
}
