.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: auto;
    gap: 1vh;
}

.container > * {
    margin: 0;
    box-sizing: border-box;
    padding: 0%;
}

.hi {
    font-size: 2.5vh;
    color: $primary;
    font-weight: 100;
}

@mixin header-size {
    line-height: 4vh;
    font-size: 5vh;
}
.head {
    @include header-size;
    color: $text-primary;
}

.subhead {
    font-size: 2vh;
    color: $text-secondary;
}

.about {
    font-size: 1.5vh;
    color: $text-secondary;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 65%;
    }

    @mixin header-size {
        line-height: 4vw;
        font-size: 5vw;
    }

    .subhead {
        font-size: 3vw;
        color: $text-secondary;
    }

    .about {
        font-size: 1.5vw;
        width: 100%;
    }

    .hi {
        font-size: 2.5vh;
    }

    .subhead {
        font-size: 2vw;
    }

    .about {
        font-size: 1.5vw;
    }
}
