.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    height: 35vw;
    gap: 10px;
}

.container > * {
    margin: 0;
    box-sizing: border-box;
    padding: 0%;
}

.hi {
    font-size: 20px;
    color: $primary;
    font-weight: 100;
}

@mixin header-size {
    line-height: 40px;
    font-size: 60px;
}
.head {
    @include header-size;
    color: $text-primary;
}

.subhead {
    font-size: 50px;
    color: $text-secondary;
}

.about {
    font-size: 16px;
    color: $text-secondary;
    width: 65%;
}
