.row {
    width: 100%;
    display: grid;
    grid-template: "a b c" auto / 1fr 1fr 1fr;
    height: 150px;
    gap: 10px;
    padding-bottom: 10px;
}

.project {
    border: solid $primary 2px;
    border-radius: 0.75rem;
    padding: 5px;
}

.project:hover {
    background-color: $bg-secondary;
}
