.projects {
    height: 100%;
}

.projects > * {
    margin-top: 2vh;
    margin-top: 2vh;
    height: 25vh;
}

.project {
    width: 100%;
    border: solid $primary 2px;
    border-radius: 0.75rem;
    display: grid;
    grid-template: "cont" 100%;
}

.projC {
    grid-area: cont;
    border-radius: 0.75rem 0 0 0.75rem;
    padding: 1vh;
    // grid tempalte
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3%;
}

.cTit {
    grid-area: tit;
    color: $primary;
    display: flex;
}

.cHead {
    width: 100%;
    grid-template: "tit links";
    align-items: center;
    display: grid;
    font-size: 2.5vh;
}

.cLinks {
    grid-area: links;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    height: 100%;
}

.cLinks > * {
    font-size: 2.5vh;
    margin-left: 5%;
}

.cLinks > *:hover {
    color: $primary;
}

.cDes {
    grid-area: description;
    width: 90%;
    font-size: 1.25vh;
}

.cTools {
    font-size: 1.25vh;
    grid-area: tools;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    // push
    margin-top: auto;
}

.projP {
    grid-area: pict;
    width: 100%;
    border-radius: 0 0.75rem 0.75rem 0;
    object-fit: cover;
    z-index: 0;
}

@media only screen and (min-width: 768px) {
    .projects {
        height: 100%;
    }

    .projects > * {
        margin-top: 2vw;
        margin-top: 2vw;
    }

    .project {
        display: grid;
        grid-template: "cont pict" 100% / 6fr 3fr;
    }

    .projC {
        padding: 1vw;
    }

    .cHead {
        font-size: 2.5vw;
    }

    .cLinks > * {
        font-size: 2.5vw;
    }

    .cDes {
        font-size: 1vw;
    }

    .cTools {
        font-size: 1.25vw;
    }
}
