.sectionContainer {
    width: 90%;
    font-size: 1.5vw;
}

.sectionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.sectionHeader > hr {
    height: 1px;
    width: 100%;
    border: none;
    background-color: $primary;
}

.sectionHeader > h4 {
    font-family: "Orbitron", sans-serif;
    white-space: nowrap;
}

.sectionHeader > h4 > div {
    font-family: "Orbitron", sans-serif;
    display: inline;
    color: $primary;
}

.padRight {
    padding-right: 7px;
}
.padLeft {
    padding-left: 7px;
}

#coffee {
    background-color: #6e4228;
    background: radial-gradient(#956f5a 0%, #6e4228 100%);
    cursor: move;
    width: 100vw;
    height: 100vh;
}

@media only screen and (min-width: 768px) {
    .sectionContainer {
        width: 65%;
    }
}
