.underline {
    // hover animation
    display: inline-block;
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $primary;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline:hover::after {
    transform: scale(1);
    transform-origin: bottom left;
}

.pColor {
    color: $primary;
}
