$font-primary: 'IBM Plex Sans', sans-serif;
$font-secondary: 'Darker Grotesque', monospace;

$bg-primary: #ffffff;
$bg-secondary: #f5f5f5;

$text-primary: #000000;
$border-width: 1px;

$nav-height: 3rem;
$side-pad: 2rem;

.bT {
	border-top: solid 2px black;
}
.bR {
	border-right: solid 2px black;
}
.bL {
	border-left: solid 2px black;
}
.bB {
	border-bottom: solid 2px black;
}
