@import '../global/variables.scss';

// Experiences.tsx
.experienceContainer {
	align-items: center;
	margin-bottom: 2rem;

}

.header {
	height: $nav-height;
	width: 100%;

	border-bottom: solid black $border-width;

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 0 2rem;

	font-size: 0.75rem;
	position: sticky;
	top: $nav-height;
	z-index: 100;
	background-color: white;
}

.experiences {
	width: 100%;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: calc(100% - $nav-height);
}

// Experience.tsx
.experience {
	position: relative;
	height: 50vh;
	width: 50%;

	font-family: $font-primary;
	transition: background-color 0.3s linear;

	&:hover {
		background: lightgray;
		cursor: pointer;
	}

	&:active {
		background: darkgray;
	}

	& .current {
		font-family: $font-secondary;
	}

	@media only screen and (max-width: $breakpoint-sm) {
		width: 100%;
		border-right: none !important;
	}
}

.experienceModal {
	position: fixed;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 50vw;
	min-width: 650px;
	height: 70vh;

	background-color: white;
	border: $border-width solid black;

	z-index: 1001;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	* {
		font-family: $font-secondary;
	}
}
.modalHeader {
	display: flex;
	flex-direction: column;

	width: 100%;
}
.modalHeader > div:first-child {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: $border-width solid black;

	width: 100%;
	height: 3rem;
	padding: 0 1rem 0 1rem;
}
.modalWebsite:hover {
	color: gray;
}
.modalCompanyInfo {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	border-bottom: $border-width solid black;

	width: 100%;
	height: 10rem;
	padding: 0 1rem 0.5rem 1rem;
}
.MCILeft > span:first-child {
	font-size: 1.5rem;
}
.MCILeft > div:nth-child(2) {
	font-size: 2.25rem;
	line-height: 2rem;
}
.MCIRight > span:nth-child(2) {
	font-size: 1.5rem;
	line-height: 1rem;
}

.modalResp {
	border-top: $border-width solid black;
}
.modalResp > div:first-child {
	height: 2rem;
	font-size: 1.5rem;
}
.responsibilityRow > div {
	flex: 1;
	display: flex;

	border: $border-width solid black;
	border-right: 0px solid black;
	border-bottom: 0px solid black;

	flex-direction: column;
}
.responsibilityRow > div:first-child {
	border-left: 0px solid black;
	box-sizing: border-box;
}

.responsibilityTitle {
	font-size: 2rem;
	width: 80%;

	margin-right: 1rem;
	padding-left: 0.5rem;

	border-bottom: 1px solid black;
}
.responsibilityContent {
	padding: 0.5rem;
	font-size: 0.9rem;
}

.card0 {
	@extend .experience;
	cursor: default !important	;

	.info {
		position: absolute;
		bottom: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
		text-transform: uppercase;
		opacity: 0;
		transition: opacity 0.3s linear;
		color: $text-primary;
	}
	&:hover {
		.info {
			opacity: 1;
		}
	}
}

.card1 {
	@extend .experience;

	& > img {
		position: absolute;
		width: 15%;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.info {
		position: absolute;
		bottom: 0;
		left: 0;

		display: flex;
		flex-direction: column;

		padding: 0.5rem 1rem;
	}
	.title {
		font-size: 1.5rem;
		text-transform: uppercase;
	}
}
