@import '../global/variables.scss';

// MobileExperiences.tsx

.mLoadButton {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px black solid;
	font-size: 2rem;

	background-color: black;
	color: white;
}

.mTopBar {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 1rem;
}

.mTopBar > span:first-child {
	font-size: 2rem;
}
.mTopBar > span:nth-child(2) {
	font-size: 2.5rem;
}
.mHeader {
	padding: 0 1rem;

	font-size: 3rem;
	line-height: 1.1rem;

	padding-bottom: 2rem;
	border-bottom: solid black $border-width;
	font-weight: bold;

	width: 90%;
	overflow: scroll;
	white-space: nowrap;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.mHeader::-webkit-scrollbar {
	display: none;
}
.mSubtitle {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	border-bottom: solid 1px black;
	padding: 0.25rem 1rem;
	box-sizing: border-box;
}

.mSubtitle > * {
	font-size: 1rem;
	text-transform: lowercase;
}
.mSubtitle > span:first-child {
	font-weight: bold;
}
.mExperience {
	position: relative;

	height: 12rem;
	width: 100%;
	border-bottom: solid black 1px;
}
.mExperience > * {
	position: absolute;
}

.mResp {
	text-transform: uppercase;
	font-size: 2rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: solid black 1px;
	padding: 1rem;
}

.mList {
	display: flex;
	flex: 1;
	flex-direction: column;

	width: 100%;
	padding-bottom: 2rem;
}
.mList > div {
	flex: 1;
	border-bottom: solid black 1px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	padding: 0rem 1rem;
}
.mList > div > span:first-child {
	font-size: 2rem;
}

.mCompany {
	font-size: 2rem;
	left: 5%;
}
.mThumbnail {
	height: 6rem;

	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);
}
.mTab {
	position: fixed;

	display: flex;
	flex-direction: column;

	bottom: 0%;
	left: 0%;

	height: 80vh;
	width: 100vw;

	background-color: white;
	z-index: 1001;
}

// Experiences.tsx
.experienceContainer {
	align-items: center;
	padding: 4rem 4rem 4rem 4rem;
}

.experienceBox {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;

	outline: $border-width solid black;
}

.experienceBox > div:first-child {
	height: 7.5%;

	font-size: 2rem;
	font-weight: bold;

	border-bottom: $border-width solid black;

	display: flex;
	justify-content: center;
	align-items: center;
}

.experienceScreen {
	flex: 1;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.experinceRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	flex: 1;
	width: 100%;
}
.experienceRow2 {
	@extend .experinceRow;

	& > div:first-child {
		width: 60%;
	}
	& > div:nth-child(2) {
		flex: 1;
	}
}
.experienceRow3 {
	@extend .experinceRow;

	& > div {
		flex: 1;
	}
}

// Experience.tsx
.experience {
	position: relative;
	height: 100%;

	font-family: $font-primary;
	transition: background-color 0.3s linear;

	&:hover {
		background: lightgray;
		cursor: pointer;
	}

	&:active {
		background: darkgray;
	}

	& .current {
		font-family: $font-secondary;
	}
}

.experienceModal {
	position: fixed;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 50vw;
	min-width: 650px;
	height: 70vh;

	background-color: white;
	border: $border-width solid black;

	z-index: 1001;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	* {
		font-family: $font-secondary;
	}
}
.modalHeader {
	display: flex;
	flex-direction: column;

	width: 100%;
}
.modalHeader > div:first-child {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: $border-width solid black;

	width: 100%;
	height: 3rem;
	padding: 0 1rem 0 1rem;
}
.modalWebsite:hover {
	color: gray;
}
.modalCompanyInfo {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	border-bottom: $border-width solid black;

	width: 100%;
	height: 10rem;
	padding: 0 1rem 0.5rem 1rem;
}
.MCILeft > span:first-child {
	font-size: 1.5rem;
}
.MCILeft > div:nth-child(2) {
	font-size: 2.25rem;
	line-height: 2rem;
}
.MCIRight > span:nth-child(2) {
	font-size: 1.5rem;
	line-height: 1rem;
}

.modalResp {
	border-top: $border-width solid black;
}
.modalResp > div:first-child {
	height: 2rem;
	font-size: 1.5rem;
}
.responsibilityRow > div {
	flex: 1;
	display: flex;

	border: $border-width solid black;
	border-right: 0px solid black;
	border-bottom: 0px solid black;

	flex-direction: column;
}
.responsibilityRow > div:first-child {
	border-left: 0px solid black;
	box-sizing: border-box;
}

.responsibilityTitle {
	font-size: 2rem;
	width: 80%;

	margin-right: 1rem;
	padding-left: 0.5rem;

	border-bottom: 1px solid black;
}
.responsibilityContent {
	padding: 0.5rem;
	font-size: 0.9rem;
}

.card1 {
	@extend .experience;

	& > img {
		position: absolute;
		width: 20%;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.info {
		top: 0;
		left: 0;

		display: flex;
		flex-direction: column;

		padding: 0.5rem 1rem;
	}
	.title {
		font-size: 1.5rem;
		font-weight: bold;
	}
}

.card2 {
	@extend .experience;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	gap: 0.75rem;

	& > img {
		width: 4rem;
	}

	.title {
		font-size: 2rem;
		font-weight: bold;
	}
}

.card3 {
	@extend .experience;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	.circle {
		height: 100%;
		width: 100%;

		border-radius: 50%;
		border: 1.5px solid black;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		gap: 0.5rem;
	}
	.circle > img {
		width: 4rem;
	}

	.title {
		font-size: 2rem;
		font-weight: bold;
	}
}

.card4 {
	@extend .experience;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	.row {
		width: 100%;
		height: 20%;

		display: flex;

		border-bottom: 1px solid black;
	}

	.imgContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		img {
			width: 50%;
			max-height: 90%;
		}
	}

	.row > * {
		height: 100%;
	}
	.row > div:not(:first-child) {
		width: 40%;
		border-left: solid black 1px;
	}
	.row > div:first-child {
		flex: 1;
	}

	.contentRow {
		@extend .row;

		flex: 1;
	}

	img {
		width: 100%;
		max-width: 100%;
		max-height: 100%;
	}

	.title {
		font-size: 1.5rem;
		font-weight: bold;

		padding: 0.5rem;
		overflow: hidden;
		overflow-wrap: break-word;

		text-transform: uppercase;
	}
}
.card5 {
	position: relative;
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	.line {
		position: absolute;
		background-color: #000;
	}
	.innerBox {
		position: absolute;
		width: 75%;
		height: 75%;

		border: solid $border-width black;

		& > img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 5rem;
		}

		.info {
			top: 0;
			left: 0;

			display: flex;
			flex-direction: column;

			padding: 0.5rem 1rem;
		}
		.title {
			font-size: 1.5rem;
			font-weight: bold;
		}
	}

	.lineVertical {
		@extend .line;
		width: $border-width;
		height: 100%;
		left: 75%;
	}

	.lineHorizontal {
		@extend .line;
		width: 100%;
		height: $border-width;
		top: 30%;
	}

	// &:hover .lineHorizontal,
	// &:hover .lineVertical {
	// 	animation: shrink 1s forwards;
	// }

	&:hover {
		background: lightgray;
	}

	@keyframes shrink {
		to {
			width: 0;
			height: 0;
		}
	}
}

.card6 {
	@extend .experience;

	& > img {
		position: absolute;
		width: 20%;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.info {
		position: absolute;
		bottom: 0;
		left: 0;

		display: flex;
		flex-direction: column;

		padding: 0.5rem 1rem;

		text-transform: uppercase;
	}
	.title {
		font-size: 1.5rem;
		font-weight: bold;
	}
}
