@import '../global/variables.scss';

.footer {
	margin-top: 4rem;

	height: 15vh;
	width: 100%;

	border-top: solid black 1px;
	padding: 1rem 2rem;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	& * {
		font-family: $font-secondary;
		font-size: 1.15rem;
		text-transform: uppercase;

		transition: font-weight 0.3s linear;
		font-weight: normal;
	}
	& *:hover {
		font-weight: 500;
	}
}

.socialMedia {
	@extend .list;
}

.misc {
	@extend .list;
}
