@import '../global/variables.scss';

// WE ARE SWITCHING COMPLETELY ON BREAKPOINT SM

@mixin text-shadow {
	text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
		-1px -1px 0 #fff;
}

.landingContainer {
	padding: 4rem;
	height: calc(100vh - $nav-height);
	position: relative;

	opacity: 0;
	transition: opacity 0.5s linear;

	display: flex;
	justify-content: space-between;
	flex-direction: column;

	@media only screen and (max-width: $breakpoint-sm) {
		padding: 2rem;
		justify-content: flex-start;
	}
}

.showActive {
	opacity: 1;
}

.socialBoxes {
	display: grid;
	grid-template-columns: repeat(3, 9rem);
	grid-template-rows: repeat(3, 4rem);

	@media only screen and (max-width: $breakpoint-sm) {
		display: none;
	}

	.socialBox {
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		box-sizing: border-box;

		transition: background-color 0.3s linear;

		font-family: $font-primary;
		text-transform: uppercase;
	}

	.socialContent {
		@extend .socialBox;
	}

	.socialContent:hover {
		background-color: $text-primary;
		color: $bg-primary;
	}

	.socialFilled {
		@extend .socialBox;
		background-color: black;
	}

	.socialHidden {
		@extend .socialBox;
		visibility: hidden;
	}
}
.locationBox {
	position: relative;

	width: 100%;
	height: 40vh;
	background: #f6f6f6;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.locationIcon {
		max-width: 200px;
		height: 50%;
	}

	.locationText {
		text-transform: uppercase;
		font-weight: bold;
		font-family: $font-secondary;

		position: absolute;
		top: 0;
		left: 0;

		padding: 1rem 0.5rem 0.5rem 2rem;
	}
	.locationPin {
		position: absolute;
		left: 0;
		top: 0;
		padding: 1rem 0.5rem;
	}

	@media only screen and (min-width: $breakpoint-sm) {
		display: none;
	}
}

.header {
	@include text-shadow;

	div:first-child {
		font-size: 6rem;
		font-weight: $font-primary;

		@media only screen and (max-width: $breakpoint-md) {
			font-size: 3.5rem;
		}

		@media only screen and (max-width: $breakpoint-xs) {
			font-size: 2rem;
		}
	}

	div:nth-child(2) {
		font-size: 4.5rem;
		line-height: 1rem;

		font-family: $font-secondary;
		@media only screen and (max-width: $breakpoint-md) {
			font-size: 4rem;
		}

		@media only screen and (max-width: $breakpoint-sm) {
			margin-bottom: 3rem;
		}

		@media only screen and (max-width: $breakpoint-xs) {
			font-size: 2.5rem;
		}
	}
}

.socialsList {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	align-items: flex-end;
	flex-direction: column;

	width: 100%;
	padding: 1rem;

	gap: 0.25rem;
	div {
		font-weight: bold;
	}

	a {
		font-size: 0.8rem;
	}

	a:hover {
		font-weight: bold;
	}

	@media only screen and (min-width: $breakpoint-sm) {
		display: none;
	}
}

.blackOffset {
	position: absolute;
	right: 4rem;
	top: 4rem;

	height: calc(100% - 8rem);
	width: 30vw;
	background-color: black;
	z-index: -1;

	@media only screen and (max-width: $breakpoint-md) {
		display: none;
	}
}
