// MOBILE STYLES

.mSubtitle {
	font-size: 2rem;
}

.mTitle {
	font-size: 4rem;
	line-height: 3rem;
	padding-bottom: 2rem;
}

.mLinkList {
	margin-top: 2rem;
	border-top: 2px solid black;
	display: flex;
	flex-direction: column;

	width: 100%;
}

.mLinkRow {
	display: flex;
	width: 100%;
}
.mLinkRow > a {
	display: flex;
	align-items: center;
	justify-content: center;

	flex: 1;
	padding: 2rem;
	box-sizing: border-box;
	height: 6rem;
	border-bottom: solid black 1px;
}
.mLinkRow > a:first-child {
	border-right: 1px solid black;
}

.mFilledLink {
	background-color: black;
	color: white;
}

// WEBPAGE STYLES

@media only screen and (max-width: 1250px) {
	.blackOffset {
		display: none;
	}

	.header > h1 {
		font-size: 4.5rem !important;
	}
}

.landingContainer {
	align-items: flex-start;
	padding: 4rem 2rem 4rem 2rem;
}

.socialBoxes {
	display: grid;

	grid-template-columns: 10rem 10rem 10rem;
	grid-template-rows: 4rem 4rem 4rem;
}

.socialBox {
	outline: 1px solid black;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.socialContent:hover {
	background-color: lightgray;
	font-weight: bold;
}

.socialFilled {
	background-color: black;
}

.socialHidden {
	visibility: hidden;
}

.header {
	text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
		-1px -1px 0 #fff;
}
.header > h1 {
	font-size: 6.5rem;
}
.header > h3 {
	font-size: 4rem;
	line-height: 0.5rem;
}

.blackOffset {
	position: absolute;
	right: 2rem;
	top: 4rem;

	height: calc(100% - 8rem);
	width: 45vw;
	background-color: black;
	z-index: -1;
}
