@import '../global/variables.scss';

// _base.scss
@mixin text-shadow {
	text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
		-1px -1px 0 #fff;
}

// _mobile.scss
.mSubtitle {
	font-size: 2rem;
}

.mTitle {
	font-size: 4rem;
	line-height: 3rem;
	padding-bottom: 2rem;
}

.mLinkList {
	margin-top: 2rem;
	border-top: $border-width solid black;
	display: flex;
	flex-direction: column;

	width: 100%;
}

.mLinkRow {
	display: flex;
	width: 100%;
}
.mLinkRow > a {
	display: flex;
	align-items: center;
	justify-content: center;

	flex: 1;
	padding: 2rem;
	box-sizing: border-box;
	height: 6rem;
	border-bottom: solid black 1px;
}
.mLinkRow > a:first-child {
	border-right: 1px solid black;
}

.mFilledLink {
	background-color: black;
	color: white;
}

// _webpage.scss
.landingContainer {
	align-items: flex-start;
	padding: 4rem 4rem 4rem 4rem;
}

.socialBoxes {
	display: grid;

	grid-template-columns: 9rem 9rem 9rem;
	grid-template-rows: 4rem 4rem 4rem;
}

.socialBox {
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
}

.socialContent {
	@extend .socialBox;
}
.socialContent:hover {
	background-color: lightgray;
}

.socialFilled {
	@extend .socialBox;
	background-color: black;
}

.socialHidden {
	@extend .socialBox;
	visibility: hidden;
}

.header {
	@include text-shadow;
}
.header > h1 {
	font-size: 6.5rem;
}
.header > h3 {
	font-size: 4rem;
	line-height: 0.5rem;
}

.blackOffset {
	position: absolute;
	right: 4rem;
	top: 4rem;

	height: calc(100% - 8rem);
	width: 30vw;
	background-color: black;
	z-index: -1;
}

@media only screen and (max-width: 1250px) {
	.blackOffset {
		display: none;
	}

	.header > h1 {
		font-size: 4.5rem !important;
	}
}

// main.scss
// @import '_base';
// @import '_mobile';
// @import '_webpage';
