@import '../global/variables.scss';

.item {
	display: inline-block;
	font-size: 1rem;
	box-sizing: border-box;

	@media only screen and (max-width: $breakpoint-sm) {
		font-size: 0.75rem;
	}
}

.item > .nav-item:last-child {
	margin-left: auto;
}

.navbarContainer {
	border-bottom: solid 1px black;
	background-color: white;

	display: flex;
	gap: 4rem;
	align-items: center;
	justify-content: flex-start;

	padding: 0 2rem 0 2rem;
	width: 100%;
	height: $nav-height;

	position: sticky;
	z-index: 100;
	top: 0;

	& > * {
		text-transform: uppercase;
	}

	.item:not(:first-child) {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			width: 0%;
			height: 1px;
			bottom: 0;
			left: 0;
			background-color: black;
			transition: all 0.3s ease-in-out;
		}

		&:hover:before {
			width: 100%;
		}
	}

	.item:first-child {
		font-weight: bold;
	}

	.item:nth-child(2) {
		margin-left: auto;
	}

	.item {
		cursor: pointer;
	}
}
