@import '../global/variables.scss';

.projectContainer {
	align-items: center;
	height: calc(100vh - #{$nav-height});
}

.header {
	height: $nav-height;
	width: 100%;

	border-bottom: solid black $border-width;

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 0 2rem;

	font-size: 0.75rem;
	position: sticky;
	top: $nav-height;
	z-index: 100;
	background-color: white;
}

.cols {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: calc(100% - $nav-height);
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	height: 100%;
	padding: 1rem 2rem;
	width: 20%;

	*:first-child {
		font-weight: bold;
		font-size: 15px;
	}

	@media only screen and (max-width: $breakpoint-sm) {
		display: none;
	}
}

.projects {
	height: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 0.5rem;

	padding: 0rem 1rem;
	flex: 1;

	overflow-y: scroll;

	@media only screen and (max-width: $breakpoint-sm) {
		justify-content: space-between;
		padding: 0rem 0.5rem;
	}
}

.project {
	height: 24rem;
	width: 22%;

	display: flex;
	justify-content: flex-start;
	flex-direction: column;

	margin-bottom: 1rem;

	.title {
		font-size: 1.1rem;
		text-transform: uppercase;
	}
	.subtitle {
		font-size: 0.6rem;
		text-transform: uppercase;
		padding-right: 0.5rem;
	}

	.tools {
		font-size: 0.6rem;
		text-transform: lowercase;
	}
	.tool {
		font-size: 0.6rem;
		text-transform: lowercase;
	}

	.imgContainer {
		width: 100%;
		height: 70%;

		background-color: #f6f6f8;
		display: flex;
		align-items: center;
		justify-content: center;

		margin-bottom: 0.5rem;
	}

	@media only screen and (max-width: $breakpoint-sm) {
		width: 48%;

		margin-bottom: 0.5rem;
		height: 20rem;

		.tools {
			display: none;
		}
	}
}
