.page-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 90vh;
	width: 90%;

	position: relative;
}

.mobile-page {
	display: flex;
	flex-direction: column;

	width: 100%;
	align-items: center;

	border-top: solid black 1px;
}

.mobile-header {
	display: flex;
	flex-direction: column;
	width: 100%;

	border-bottom: solid black 2px;
	padding: 0 1rem;
}

.m-section-title {
	font-size: 2.5rem;
	font-weight: bold;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.spacer-top {
	margin-top: 4rem;
}

.spacer-bottom {
	margin-bottom: 4rem;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;

	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(4px);

	/* display: none; */
}
