@import "./sections/sectionsG.scss";

html,
body,
body * {
    padding: 0;
    margin: 0;
    font-family: Garamond, Georgia, Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
