$text-primary: #f9f9f9;
$text-secondary: #c9c9c9;
$primary: #f887ff;
$secondary: #de004e;
$secondary-dark: #860029;
$bg-primary: #29132e;
$bg-secondary: #321450;

html,
html *,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
