#m-landing-subtitle {
	font-size: 2rem;
}
#m-landing-title {
	font-size: 4rem;
	line-height: 3rem;
	padding-bottom: 2rem;
}

.m-link-list {
	margin-top: 2rem;
	border-top: 2px solid black;
	display: flex;
	flex-direction: column;

	width: 100%;
}

.m-link-row {
	display: flex;
	width: 100%;
}

.m-link-row > a {
	display: flex;
	align-items: center;
	justify-content: center;

	flex: 1;
	padding: 2rem;
	box-sizing: border-box;
	height: 6rem;
	border-bottom: solid black 1px;
}
.m-link-row > a:hover {
	background-color: lightgray;
}
.m-link-row > a:first-child {
	border-right: 1px solid black;
}
.m-filled-link {
	background-color: black;
	color: white;
}

@media only screen and (max-width: 1250px) {
	#black-offset {
		display: none;
	}

	#landing-header > h1 {
		font-size: 4.5rem !important;
	}
}

.landing-container {
	align-items: flex-start;
	padding: 4rem 2rem 4rem 2rem;
}

#black-offset {
	position: absolute;
	right: 2rem;
	top: 4rem;

	height: calc(100% - 8rem);
	width: 45vw;
	background-color: black;
	z-index: -1;
}

#landing-header > h1 {
	font-size: 6.5rem;
}

#landing-header > h3 {
	font-size: 4rem;
	line-height: 0.5rem;
}

#landing-header * {
	text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
		-1px -1px 0 #fff;
}

#social-boxes {
	display: grid;

	grid-template-columns: 10rem 10rem 10rem;
	grid-template-rows: 4rem 4rem 4rem;
}

.social-box {
	outline: 1px solid black;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.social-content:hover {
	background-color: lightgray;
	font-weight: bold;
}

.social-hidden {
	visibility: hidden;
}

.social-filled {
	background-color: black;
}
