.container {
    background-color: $bg-primary;
    height: 100%;

    color: $text-primary;
    // display
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10%;
}
