.container {
    background-color: $bg-primary;
    height: auto;

    color: $text-primary;
    // display
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 25vh auto 50vh;

    gap: 50vh;
}
