.container {
    // sizing
    width: 100%;
    background-color: $bg-primary;
    height: 50px;
    // dispaly
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    padding: 0 20px;
    // position
    position: sticky;
}

.navitem {
    // font
    font-size: 14px;
    // bg coloring
    background-color: inherit;
    border: none;
    // margin
    margin: 10px 0;
    // coloring
    color: $text-secondary;
    // cursor
    cursor: pointer;
}

.navitem:hover {
    color: $primary;
}

.container > a:nth-child(2) {
    margin-left: auto;
}

.container > a:last-child {
    border: solid 1px $primary;
    padding: 5px;
    border-radius: 0.35rem;
    color: $primary;
}

.container > a:last-child {
    border: solid 1px $primary;
    padding: 5px;
    border-radius: 0.35rem;
    color: $primary;
}

.container > a:last-child:hover {
    background-color: $bg-secondary;
}
