.project-container {
	align-items: center;
	padding: 2rem 2rem 2rem 2rem;
}

.project-box {
	height: 100%;
	width: 100%;

	display: flex;

	outline: 2px solid black;
}

.project-select-col {
	height: 100%;
	width: 25%;
	min-width: 250px;

	display: flex;
	flex-direction: column;

	border-right: solid 2px black;
}

.project-select-col > div:first-child {
	height: 20%;

	display: flex;
	font-size: 2rem;
	font-weight: bold;

	justify-content: center;
	align-items: center;

	border-bottom: solid black 1px;
}

.project-select-col > div:nth-child(2) {
	height: 7.5%;

	display: flex;
	font-size: 1rem;
	font-weight: bold;

	justify-content: center;
	align-items: center;

	border-bottom: solid black 2px;
}

.project-select-col > div:nth-child(3) {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	overflow-y: scroll;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.project-select-col > div:nth-child(3)::-webkit-scrollbar {
	display: none;
}

.project-selector {
	position: relative;

	display: flex;
	flex: none;

	height: 22.5%;
	width: 100%;
	border-bottom: solid black 1px;

	cursor: pointer;
}

.project-selector > * {
	position: absolute;
}

.ps-info {
	top: 0%;

	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
	padding: 0.5rem;
}

.ps-tools {
	font-size: 0.875rem;
	margin-top: auto;
}

.ps-title {
	font-size: 1.25rem;
	font-weight: bold;
	text-transform: uppercase;
	width: 90%;
}

.ps-subtitle {
	font-size: 0.875rem;
	text-transform: lowercase;
}

.project-box-col {
	position: relative;

	display: inline-block;
	height: 100%;

	flex-grow: 1;
}

.project-box-col > * {
	position: absolute;
}

.pb-links {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	padding: 1rem;
	gap: 1rem;
	top: 0%;

	width: 100%;
}
.pb-links > a {
	border: solid 1px black;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 7rem;
	height: 2.5rem;
}

.pb-links > a:hover {
	background-color: lightgray;
	font-weight: bold;
}
.pb-links > a:active {
	background-color: darkgray;
}

.pb-general {
	left: 0;
	bottom: 20%;

	padding: 1rem 1rem 0 1rem;
	width: 100%;
}

.pb-info {
	bottom: 0;
	left: 0;

	padding: 1rem;
	width: 100%;
	height: 20%;
}

.pb-title {
	border-bottom: solid black 1px;
	width: 60%;
	min-width: 300px;

	font-size: 3rem;
	font-weight: bold;
}

.pb-subtitle {
	font-size: 1.5rem;
}

.pb-description {
	width: 75%;
	min-width: 300px;
}
.pb-tools {
	width: 75%;
	min-width: 300px;
}
